html, body {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

#screen {
  display: block;
  margin: 32px auto;
  width: 512px;
  height: 288px;
}

.grayscale {
  filter: grayscale(100%);
}

#info {
  width: 512px;
  margin: 0 auto;
}

.i1 {
  color: #555;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 64px 0 16px 0;
}

.i2 {
  color: #555;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.i3 {
  color: #bbb;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
